.form-row{
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-delete{
  border-radius: 50%;
  background-color: #f43326;
  border-width:0;
}

.form-delete > i{
  color: white;
}

.kitap-row{
  margin: 10px;
}
